
<head>
    <title>Server is Running ...</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
</head>

<h1>Server is Running ...</h1>

<style>
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
</style>